
.subMain {
    width: 90%;
    max-width: 1400px;
    margin: 180px auto 0;
}

.subTitle {
    position: sticky;
    top: 100px;
    z-index: 100;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.titleLeft {
    display: flex;
    align-items: end;
    gap: 20px;
}

.filterBtn {
    position: relative;
    margin-right: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.filterBtn i {
    position: absolute;
    left: 100%;
}

.filterBtn .plus {
    opacity: 0;
}

.filterBtn.active .minus {
    opacity: 0;
}

.filterBtn.active .plus {
    opacity: 1;
}

.breadcrumb {
    display: flex;
    align-items: end;
    gap: 8px;
}

.breadcrumb a {
    text-decoration: none;
    font-size: 32px;
    color: #000;
    font-weight: bold;
}

.breadcrumb i {
    font-size: 14px;
    color: #999;
}

.breadcrumb .current {
    color: #555;
    font-weight: normal;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
}

.titleLeft button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.titleRight {
    display: flex;
    align-items: end;
    gap: 20px;
}

.sortOption {
    position: relative;
}

.sortOption .selected {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.sortOption .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    background: #fff;
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px 0;
    z-index: 10;
}

.sortOption:hover .dropdown {
    display: block;
}

.sortOption .dropdown li a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #333;
    font-size: 13px;
}

.sortOption .dropdown li a:hover {
    background: #f5f5f5;
}

.viewType {
    display: flex;
    gap: 10px;
}

.viewType button i {
    font-size: 18px;
    color: #ccc;
    transition: 0.3s;
}

.viewType button.active i,
.viewType button:hover i {
    color: #000;
}

.mainContent {
    display: flex;
    padding-top: 40px;
    padding-bottom: 100px;
    width: 100%;
}

.mainTitle {
    margin-bottom: 20px;
}

.leftMenu {
    position: sticky;
    top: 200px;
    width: 200px;
    padding-right: 20px;
    padding-bottom: 50px;
    flex-shrink: 0;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    opacity: 1;
    margin-right: 50px;
    transition: width 0.5s ease, padding 0.5s ease, opacity 0.1s ease, margin-right 0.5s ease;
}

.leftMenu.hide {
    width: 0;
    padding-right: 0;
    opacity: 0;
    margin-right: 0;
    white-space: nowrap;
}

.leftMenu .total {
    font-size: 14px;
    margin-bottom: 25px;
    font-weight: bold;
}

.cateList li {
    display: flex;
    margin-bottom: 20px;
}

.cateList li a {
    text-decoration: none;
    color: #888;
    font-size: 15px;
    transition: 0.2s;
}

.cateList li.active a,
.cateList li a:hover {
    color: #000;
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
}

.cateList li .count {
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
    display: none;
}
.cateList li.active .count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterGroup {
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.filterGroup .fillterFlex {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.colorBtn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.filterGroup .sizeGrid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.filterGroup .sizeGrid button {
    border: 1px solid #000;
    height: 50px;
    font-size: 14px;
}

.filterGroup .sizeGrid button.active {
    background: #002053;
    color: #fff;
}

.filterGroup .sizeGrid button:hover {
    background: #002053;
    color: #fff;
}

.filterToggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
    cursor: pointer;
}

.checkList label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.checkList input {
    margin-right: 8px;
    accent-color: #000;
}

.rightProduct {
    flex-grow: 1;
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    transition: 1s;
}

.productItem {
    list-style: none;
    cursor: pointer;
    position: relative;
}

.productItem .miniImg {
    display: flex;
    gap: 5px;
    width: 100%;
    max-width: 45px;
    height: 60px;
    margin-bottom: 10px;
    transition: 1s;
    opacity: 0;
}

.productItem .miniImg img {
    transition: 0.5s;
    border-bottom: 2px solid transparent;
}

.productItem:hover .miniImg {
    gap: 5px;
    opacity: 1;
}

.productItem .miniImg img:hover {
    border-bottom: 2px solid #999;
}

.productItem .imgBox {
    width: 100%;
    aspect-ratio: 3 / 4;
    background: #f4f4f4;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.productItem .imgBox .img-all {
    position: relative;
    width: 100%;
    height: 100%;
}

.productItem .imgBox .img-all img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: 0.2s;
}

.productItem .imgBox .img-all img:nth-of-type(2) {
    opacity: 0;  
    z-index: 2;
}

.productItem .imgBox .img-all img:nth-of-type(1) {
    z-index: 1;
}

.productItem:hover .imgBox .img-all img:nth-of-type(2) {
    opacity: 1;
}

.heartBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 20px;
}

.heartBtn.active i {
    color: red;
}


.infoBox {
    background: #fff;
    position: relative; 
    top: -15%;
    transition: all 0.5s ease;
}

.productItem:hover .infoBox {
     transform: translateY(80px);
}

.productItem:hover .infoBox .tags {
    display: none;
}

.infoBox .tags {
    display: block;
    font-size: 11px;
    color: #999;
    margin-bottom: 8px;
    background: #f8f8f8;
    display: inline-block;
    padding: 2px 5px;
    transition: 0.3s;
}

.infoBox .name {
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 1.4;
    color: #000;
}

.infoBox .price {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.infoBox .rating {
    font-size: 12px;
    color: #888;
}

.emptyItem {
    font-size: 32px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
}

.priceLabels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.priceLabels .priceGap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.priceLabels .priceGap span {position: relative;}
.priceLabels .priceGap span::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    transform: translateY(-25%);
    background: #fff;
    border: 1px solid #999;
}
.priceLabels .priceGap span:nth-of-type(1)::after {
    left: 30%;
}
.priceLabels .priceGap span:last-child:after {
    right: 30%;
}
.priceLabels .line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 5px;
    border-radius: 10px;
    background: #999;
}

@media (max-width: 1200px) {
    .productGrid { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 768px) {
    .mainContent { flex-direction: column; }
    .leftMenu { width: 100%; margin-bottom: 30px; margin-right: 0; }
    .productGrid { grid-template-columns: repeat(2, 1fr); gap: 20px; }
}