
.login {
    padding-top: 180px;
}
.login .container {}
.login .container .login-title {
text-align: center;
}
.login .container .login-title h2 {
    color: #002053;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 600;
}
.login .container .login-title h4 {
    font-size: 30px;
    color: #999;
    margin-bottom: 50px;
}

.login .loginBox {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.login .loginBox .input-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login .loginBox .input-box input {
    width: 100%;
    height: 50px;
    border: 1px solid #999;
    border-radius: 7px;
}
.login .loginBox .input-box input::placeholder {
    padding-left: 10px;
}
.login .loginBox .input-box input:focus {
    outline: none;
    padding-left: 10px;
}
.login .loginBox .input-box input:focus::placeholder {
    color: transparent;
}
.login .loginBox .idcheck {
    display: flex;
    justify-content: space-between;
}
.login .loginBox .idcheck .check1 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.login .loginBox .idcheck .check1 input {
    display: none;
}
.login .loginBox .idcheck .check1 label {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 4px;
}
.login .loginBox .idcheck .check1 input.active + label::after {
    content: '✔';
    display: block;
    position: absolute; top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    color: #002053;
    
}
.login .loginBox .idcheck {}
.login .loginBox .idcheck .check2 {
    color: #999;
    border-bottom: 1px solid #999;
}
.login .loginBox .loginBtn {
    width: 100%;
    background: #002053;
    height: 50px;
    color: #fff;
    font-size: 22px;
    border-radius: 25px;
}
.login .loginBox .idcheck .check2 {}
.login .loginBox .socialLogin {
    display: flex;
    gap: 20px;
    width: 100%;
}
.login .loginBox .socialLogin .social {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    cursor: pointer;
    transition: 0.3s;

}
.login .loginBox .socialLogin .social img {
    width: 27px;
    height: 25px;
    padding: 5px;
    border-radius: 4px;
}
.login .loginBox .socialLogin .naver:hover {
    background: greenyellow;
    color: #fff;
    border: none;
}
.login .loginBox .socialLogin .naver img {
    background: greenyellow;
}
.login .loginBox .socialLogin .naver:hover img {
    background: green;
}
.login .loginBox .socialLogin .kakao {
}
.login .loginBox .socialLogin .kakao:hover {
    background: gold;
    color: #fff;
    border: none;
}
.login .loginBox .socialLogin .kakao img {
    background: yellow;
}

.login .loginBox .line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
    background: #999;
}
.login .loginBox .joinBtn{
    width: 100%;
    background: none;
    height: 50px;
    color: #000;
    border: 1px solid #002053;
    font-size: 22px;
    border-radius: 25px;
    transition: 0.3s;
}
.login .loginBox .joinBtn:hover {
    border: none;
    background: #002053;
    color: #fff;
}


.login .loginBox .noCheck {
    color: #999;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 10px 0 100px;
    cursor: pointer;
}
.login .loginBox .noCheck p {
    width: fit-content;
    border-bottom: 1px solid #999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}